part-affordance-dataset/tools
part-affordance-dataset/category_10_fold.txt
part-affordance-dataset/category_split.txt
part-affordance-dataset/novel_split.txt
part-affordance-dataset/tool_categories.txt
.ipynb_checkpoints
__pycache__
